{% extends 'layout.twig' %}

{% block body_class 'page page-template-default' %}
{% block titulo     '¿Dónde comer?' %}

{% block contenido %}
<div id="core" class="container clearfix">
    <div id="primary-content" class="clearfix">
        <h2>¿Dónde comer?</h2>

        <p>Como ya sabéis,<strong> #BilboStack</strong> es un evento/conferencia 
        de <strong>sólo una mañana</strong>; lo que hace que no nos hagamos 
        cargo de gestionar la comida de l@s asistentes.</p>

        <p>A pesar de esto, y <strong>cómo somos conscientes de que hay mucha 
        gente que venís de fuera</strong> y que puede que no sepáis dónde 
        acercaros a comer (más si cabe que salimos a las 14h y que uno no se 
        puede entretener mucho si quiere coger sitio para saciar el hambre 
        física (esperemos que el hambre técnica quede saciada con las charlas ;P)
        ), nos vamos a permitir recomendaros algún sitio para que lo tengáis en 
        cuenta desde ya mismo.<br>

        En <strong>Bilbao se come bien casi en cualquier sitio</strong>, pero 
        tal vez la mejor opción, por <strong>variedad y por cercanía</strong>, 
        sea acercarse al centro comercial <strong>Zubiarte</strong> (está a 
        apenas 500 metros de la Universidad).<br>

        Os dejamos aquí la señas del sitio para que lo tengais en cuenta...si os 
        apetece <img src="/img/icon_razz.gif" alt=":P" class="wp-smiley"> </p>

        <p><strong>Centro comercial Zubiarte<br></strong>
        Calle del Lehendakari Leizaola, 2, 48001 Bilbao<br>
        <strong>Enlace a página en Google Maps</strong>: <a href="http://goo.gl/maps/VKqQ" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://goo.gl']);">http://goo.gl/maps/VKqQ</a><br>

        <strong>Coordenadas GPS</strong>:  43,26850, -2,94054<br>
        <strong>Página web:</strong> <a href="http://www.zubiarte.com/localizacao.php" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.zubiarte.com']);">http://www.zubiarte.com/localizacao.php</a></p>

        <div id="attachment_129" class="wp-caption alignnone" style="width: 1034px"><a href="http://www.panoramio.com/photo/8826328" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.panoramio.com']);" target="_blank"><img class=" wp-image-129" style="border: 2px solid black;" title="CC_Zubiarte" src="/img/CC_Zubiarte.jpg" alt="Centro Comercial Zubiarte" width="1024" height="734"></a><p class="wp-caption-text">cc Peru - Panoramio (http://www.panoramio.com/photo/8826328)</p></div>

        <p><strong>Otra opción</strong>, es <strong>preguntar a l@s organizadores</strong>, que (por un módico precio <img src="/img/icon_razz.gif" alt=":P" class="wp-smiley"> ) os indicarán encantad@s <strong>dónde degustar</strong> un jugoso y <strong>típico txuleton</strong> de Bilbao!!!</p>

        <p>O incluso, traerse un suculento bocata casero (que es como mejor sabe), y comérselo a la orilla de la <strong>Ría de Bilbao</strong> y con el <strong><a href="http://goo.gl/maps/ZCbV" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://goo.gl']);">Palacio Euskalduna</a></strong> y el <strong><a href="http://goo.gl/maps/O0Zj" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://goo.gl']);">Museo Guggenheim</a></strong> de estrellas invitadas =D=D Que para eso tenemos la suerte de contar con las instalaciones de la <strong><a href="http://goo.gl/maps/Ddwt" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://goo.gl']);">Universidad de Deusto</a></strong>, céntricas y localizadas en lo más nuevecito de Bilbao.</p>

        <p><strong>Opciones hay miles, simplemente ven y descúbrelas <img src="/img/icon_smile.gif" alt=":)" class="wp-smiley"> </strong></p>
    </div>
</div>
{% endblock %}