{% extends 'layout.twig' %}

{% block body_class 'page page-template page-template-custom-page-php' %}
{% block titulo     'Localización / Mapas' %}

{% block contenido %}
<div id="core" class="container clearfix">
    <p><strong style="font-size: 24px;">Ubicación del evento:</strong></p>
    <p>
        La dirección oficial del evento (por si venís de fuera de Bilbao o
        alrededores y usáis vuestros GPS) es esta:
    </p>
    <p>
        <strong><a href="http://www.ingenieria.deusto.es/" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.ingenieria.deusto.es']);">Universidad de Deusto, Bilbao</a><br>
        Facultad de Ingeniería – ESIDE</strong><br>
        Avda. de las Universidades / Unibertsitateetako Etorbidea, 24<br>
        48007 Bilbao<br>
    
        <strong>Enlace a página en Google Maps</strong>: <a href="http://goo.gl/maps/Fy3v" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://goo.gl']);">http://goo.gl/maps/Fy3v</a><br>

        <strong>Coordenadas GPS</strong>: 43,2722, -2,9381
    </p>

    <p><strong>¿Cómo llegar?</strong></p>
    <p><strong>Autobús:</strong> BILBOBUS. Lineas 01, 10, 13, 18<br>
    <strong>Metro: </strong>Estación Deusto (salidas Lehendakari Aguirre y Calle Iruña)<br>
    <strong>Tranvía:</strong> Parada de Abandoibarra<br>
    <strong>Parking:</strong> En principio,<strong> tenemos permiso de la 
    Universidad de Deusto para que se pueda aparcar dentro de la Universidad</strong>; 
    pero por si acaso hay problemas con eso, hay un parking en la Avenida Abandibarra (
    debajo del C.C. Zubiarte), debajo del Puente de Deusto junto a la parada del tranvía 
    de Abandoibarra.</p>

    <p>—</p>

    <p>Las <strong>dos salas</strong> para los tracks están en la <strong>planta
    2</strong>, se entra por detrás, por la <strong>entrada principal del
    edificio ESIDE.</strong><br>

    Las <strong>salas</strong> donde se darán las charlas son: la de 
    videoconferencias <strong>( 211 ) y el aula 201</strong> (ambas se 
    encuentran, a izquierda y derecha respectivamente, según se entra por la 
    entrada principal de <strong>ESIDE</strong>. La entrada está marcada en un 
    círculo rojo en el mapa, adjuntado más abajo, del Campus Universitario)</p>

    <p><strong style="font-size: 24px;">Mapa de localización de la Universidad de Deusto</strong> (pinchar en ella para agrandar)<strong>:</strong></p>

    <p><a href="/img/Deusto_Satellite-1024x599.jpg" target="_blank"><img class="alignnone  wp-image-113" style="border: 2px solid black;" title="Deusto_Satellite" src="/img/Deusto_Satellite-1024x599.jpg" alt="Mapa localización Universidad Deusto Bilbao" width="640" height="374"></a></p>

    <p><strong style="font-size: 24px;">Mapa del Campus Universitario</strong> (pinchar en ella para agrandar)<strong>:</strong></p>

    <p><a href="/img/DeustoCampusBilbao_Satellite-1024x599.jpg" target="_blank"><img class="alignnone  wp-image-118" style="border: 2px solid black;" title="DeustoCampusBilbao_Satellite" src="/img/DeustoCampusBilbao_Satellite-1024x599.jpg" alt="Campus Universidad Deusto Bilbao" width="640" height="374"></a></p>
    
    <p>(!) Los derechos de todas la imágenes pertenecen única y exclusivamente a 
    la Universidad de Deusto.</p>
</div>
{% endblock %}
